body {
  display: grid;
  grid-template-rows: 1fr auto;

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

header {
  font-family: "Pixelify Sans", sans-serif;
  position: fixed;
  height: 65px;
  width: 100%;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 4px;
  border-color: #202020;
  z-index: 100;
}

main {
  padding-top: 60px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.text-little-header {
  font-family: monospace;

  text-shadow: 0.5px 0.5px 0px #608eff, -0.5px -0.5px 0px #608eff,
    -0.5px 0.5px 0px #608eff, 0.5px -0.5px 0px #608eff;
}

.tittle-videojuegos-populares {
  width: 100%; /* Ajusta el ancho del div */
  /*background-image: url("./static/img/nieve_gif.gif"); !* Ruta de la imagen de fondo *!*/
  background-size: cover; /* Escala la imagen para cubrir el div */
  background-position: center; /* Centra la imagen en el div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.tittle-videojuegos-populares p {
  font-family: "Pixelify Sans", sans-serif;
}

.text-proximamente {
  font-family: "Pixelify Sans", sans-serif;
}

@media (max-width: 650px) {
  header {
    display: flex;

    .navbar-header {
      display: flex;
      width: 100%;
    }

    .logo-header {
      display: none;
    }
  }
}



/*REPRODUCTOR DE JUEGOS*/

.body-screen {
  margin: 0;
  font-family: "Press Start 2P", cursive !important;
}
.body-screen * {
  user-select: none;
}

.screen {
  width: 564px;
  height: 578px;
  background-color: #470a6c;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Pixelify Sans", sans-serif;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.visuals {
  display: flex;
  justify-content: space-between;
}

.analysers {
  width: 182px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.analysers span {
  color: #01a800;
  font-size: 12px !important;
  position: absolute;
  margin: 4px 2px;
}

canvas {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/8bit-visualize-bg.svg);
}

.screen:after {
  width: 24px;
  height: 577px;
  background-color: #c93cbd;
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  transform: skewY(39deg);
  transform-origin: top left;
}

.screen:before {
  width: 565px;
  height: 17px;
  background-color: #a42c9a;
  content: "";
  display: block;
  position: absolute;
  transform-origin: top left;
  transform: skewX(51deg);
  top: 100%;
}

.playlist {
  background-color: #009aa8;
}

.playlist a {
  display: block;
  font-size: 12px !important;
  color: #f2f2f2;
  line-height: 36px;
  padding: 0 16px;
  cursor: pointer;
}

.playlist a:hover,
.playlist a.active {
  background-color: #f2f2f2 !important;
  color: #01a800 !important;
}

.play-wrapper {
  text-align: center;
}

.play {
  width: 142px;
  height: 42px;
  background-color: #3a00fc;
  display: inline-block;
  margin: 0 auto;
  font-size: 12px;
  line-height: 12px;
  padding: 15px 0;
  text-align: center;
  box-sizing: border-box;
  color: #f9d879;
  clip-path: polygon(
          0% 15%,
          5% 15%,
          5% 0%,
          95% 0%,
          95% 15%,
          100% 15%,
          100% 85%,
          95% 85%,
          95% 100%,
          5% 100%,
          5% 85%,
          0% 85%
  );
  cursor: pointer;
  text-transform: uppercase;
}

.play:hover {
  background-color: #0532fd;
}

.tv {
  height: 282px;
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 20px;
}

.tv video {
  width: 100%;
  height: 100%;
}

html,
body {
  min-height: 100%;
}
