body {
  display: grid;
  grid-template-rows: 1fr auto;

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

header {
  font-family: "Pixelify Sans", sans-serif;
  position: fixed;
  height: 65px;
  width: 100%;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 4px;
  border-color: #202020;
  z-index: 100;
}

main {
  padding-top: 60px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.text-little-header {
  font-family: monospace;

  text-shadow: 0.5px 0.5px 0px #608eff, -0.5px -0.5px 0px #608eff,
    -0.5px 0.5px 0px #608eff, 0.5px -0.5px 0px #608eff;
}

.tittle-videojuegos-populares {
  width: 100%; /* Ajusta el ancho del div */
  /*background-image: url("./static/img/nieve_gif.gif"); !* Ruta de la imagen de fondo *!*/
  background-size: cover; /* Escala la imagen para cubrir el div */
  background-position: center; /* Centra la imagen en el div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.tittle-videojuegos-populares p {
  font-family: "Pixelify Sans", sans-serif;
}

.text-proximamente {
  font-family: "Pixelify Sans", sans-serif;
}

@media (max-width: 650px) {
  header {
    display: flex;

    .navbar-header {
      display: flex;
      width: 100%;
    }

    .logo-header {
      display: none;
    }
  }
}
